<h1> Data Science Tools and Ecosystem </h1>

<h2> Author </h2>
Katrina Welch

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

<h1> Objectives </h1>

- List popular languages
- Data Science Libraries
- Data Science Tools 
- Introduction to arithmetic expression examples
- Multiply and add numbers
- Convert minutes to hours

# Data Science Popular Languages

Some of the popular languages that Data Scientists use are: 

1. Python
2. R
3. SQL
4. Java
5. C++
6. C#

# Data Science Libraries

Some of the commonly used libraries used by Data Scientists include: 

1. Pandas
2. NumPy
3. TensorFlow
4. SciPy
5. Plotly
6. PyTorch
7. Seaborn
8. Matplotlib

# Data Science Tools

| Data Science Tools |
| ------------ |
| Apache Spark | 
| Apache Hadoop |
| Jupyter Notebook |

# Arithmetic Expression Examples

<h3> Below are a few examples of evaluating arithmetic expressions in Python. </h3>

# Multiply and Add Numbers

In [8]:
# This is a multiple of two numbers adding one number

(3 * 4) + 5

17

# Convert Minutes to Hours

In [9]:
# This will convert Minutes to Hours

(200 / 60)

3.3333333333333335